# Исключаем всё

// V_EXCLUDE_PATH *\...

# V802 On 32-bit platform, structure size can be reduced from 36 to 32 bytes by rearranging the fields according to their sizes in decreasing order. cm32m4xxr_adc.h 553 1

// -V::802


