encoding
marty_bigint
marty_containers
marty_cpp
marty_crc
marty_csv
marty_decimal
marty_dot
marty_expressions
marty_format
marty_gdl
marty_hex
marty_mem
marty_svg
marty_tr
marty_utf
marty_pugixml
pugixml
marty_yaml_toml_json
nlohmann
sfmt
umba
umba_tokenizer
yaml-cpp
